<li>
  <span class="isbn"><%= titles.isbn %></span>
   <span class="name"><%= titles.isbn %></span>
    <span class="author"><%= titles.isbn %></span>
     <span class="publisher"><%= titles.isbn %></span>
      <span class="year"><%= titles.isbn %></span>
 
</li>*/